apiVersion: v1
data:
  PSQL_HOST: "pop-rw.citypost.us"
  PSQL_PORT: "5432"
  PSQL_USER: "postgres"
  PSQL_PASSWORD: "Asterisk@123"
  PSQL_DB_NAME: "scm_ads"
  AUTH_VERBOSE_ERRORS: "true"
  AUTH_RETURN_RESET_TOKEN: "true"
  SMTP_HOST: "smtp.gmail.com"
  SMTP_PORT: "587"
  SMTP_USER: "citypost@smartcitymedia.us"
  SMTP_PASSWORD: "iwud bnba gmpi dbct"
  SMTP_FROM: "citypost@smartcitymedia.us"
  SMTP_USE_TLS: "true"
  DATABASE_URL: postgres://postgres:secret@timescaledb.monitoring.svc.cluster.local:5432/metrics?sslmode=disable
  CORS_ALLOWED_ORIGINS: "https://scm-ads.citypost.us,http://localhost:4200,https://pivotal-cms.web.app"
  RATE_LIMIT_WINDOW_SECONDS: 60
  RATE_LIMIT_MAX: 50
kind: ConfigMap
metadata:
  name: scm-metrics-api
  namespace: monitoring
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: scm-metrics-api
  namespace: monitoring
  labels:
    app: scm-metrics-api
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: scm-metrics-api
  template:
    metadata:
      labels:
        app: scm-metrics-api
        version: v0.0.1
    spec:
      containers:
      - name: scm-metrics-api
        image: smartcitymedia/scm-metrics-api:0.0.6
        envFrom:
          - configMapRef:
              name: scm-metrics-api
        ports:
        - containerPort: 8080
      imagePullSecrets:
        - name: scm-registrypullsecret
---
apiVersion: v1
kind: Service
metadata:
  name: scm-metrics-api
  namespace: monitoring
spec:
  ports:
  - name: http
    targetPort: 8080
    port: 8080
  selector:
    app: scm-metrics-api
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: scm-metrics-api
  namespace: monitoring
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`scm-metrics-api.citypost.us`)
      kind: Rule
      services:
        - name: scm-metrics-api
          port: 8080
  tls:
    secretName: traefik-cert